Welcome <%= @user.name%>!

<form action="/logout" method="post">
<input type="hidden" name="_method" id="hidden">
<input type="submit" value="Log Out">
</form>

<form action="/animes/new" method="get">
<input type="submit" value="Add Anime">
</form>
<br><br>
<% @animes.each do |a|%>
    <ol>
    <a href="/animes/<%=a.id%>"><li><h3><%= a.title%></h3></li></a>
    <li>Status: <%= a.status.capitalize%></li> 
    <li>Rating: <%= a.rating%></li>
    </ol>
    
<%end%>