<a href="/logout">Log Out</a>
<h1>Welcome <%= @user.name%>!</h1>
<br>
<%if @animes.count == 0 %>
<%= @new_user %>
<%else%>
<h4>Total amount of animes: <%= @animes.count%></h4>
<%end%>
<a href="/animes/new"><h3>Add Anime</h3></a>
<br>
<% @animes.each.with_index(1) do |a, i|%>
    <%details = Api.query(a.title)%>
    <img src="<%= details["image_url"]%>" alt="" width="100x100">
    <a href="/animes/<%=a.id%>"><li><h3> <%= a.title%></h3></li></a>
    <li>Status: <%= a.status.capitalize%></li> 
    <li>Rating: <%= a.rating%></li> 
<%end%>