<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatcha Watchin'</title>
</head>
<body>
    <h1>Welcome <%= @user.name%>!</h1>
    <%if @animes.count == 0 %>
        <h3><%= @new_user %></h3>
    <%else%>
        <h4>Total amount of animes: <%= @animes.count%></h4>
    <%end%>
    <a href="/animes/new"><h3>Add Anime</h3></a>
    <br>
    <% @animes.each do |a|%>
        <%details = Api.query(a.title)%> 
        <ul>
        <img src="<%= details["image_url"]%>" alt="" width="100x100">
        <a href="/animes/<%=a.id%>"><%= a.title.capitalize%></a>
        <%= a.status.capitalize%>
        <%= a.rating%>
        </ul>
    <%end%>    
</body>

<br>

<br>


</html>