<img src="<%= @details["image_url"]%>" alt="">
<h3><%= @anime.title%></h3>
    <li>Status: <%= @anime.status.capitalize%></li> 
    <li>Rating: <%= @anime.rating%></li>
<br>

<a href="/animes">Back to List</a>
<br><br>
<form action="/animes/<%=@anime.id%>/edit" method="get">
<input type="submit" value="Edit Post">
</form>
<br>
<form action="/animes/<%= @anime.id%>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>