<img src="<%= @details["image_url"]%>" alt="">
<h1><%= @anime.title%></h1>
<ul>
    <li>Your Status: <%= @anime.status.capitalize%></li> 
    <li>Your Rating: <%= @anime.rating%></li>
    <li>Rated: <%= @details["rated"]%></li>
</ul>
<br>
<h4>Synopsis</h4>
<br>
<p><%= @details["synopsis"]%></p>
<a href="<%= @details["url"]%>" target="_blank">Learn more</a>
<br><br>
<a href="/animes">Back to List</a>
<br><br>
<form action="/animes/<%=@anime.id%>/edit" method="get">
<input type="submit" value="Edit Post">
</form>
<br>
<form action="/animes/<%= @anime.id%>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>